.navBar {
  background-color: black;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 1em 0;
}

.navLink {
  text-decoration: none;
  color: white;
  display: inline;
  margin: 10px;
  font-size: 1.2em;
}
.myPic {
  width: 20em;
  margin-bottom: 5%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Mouse Memoirs", sans-serif;
  transition: 1s;
  background-color: black;
}

#header {
  font-family: "Mouse Memoirs", sans-serif;
  color: wheat;
  margin: auto;
  font-size: 4em;
}

::placeholder {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 70%;
}
.comingSoon {
  text-align: center;
  color: wheat;
}
section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.container {
  margin: 5px;
}

#submit-button {
  margin: auto;
  font-size: 125%;
  padding: 10px;
  font-family: "Mouse Memoirs", sans-serif;
  width: 35%;
}

.date {
  background-color: cornsilk;
  font-size: 200%;
  font-family: "Mouse Memoirs", sans-serif;
  border: solid 3px red;
  margin: auto;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  width: 35%;
  color: dimgray;
  text-align: center;
}

.superstar {
  background-color: mistyrose;
  font-size: 150%;
  font-family: "Mouse Memoirs", sans-serif;
  border: solid 3px red;
  margin: auto;
  border-radius: 5px;
  padding: 10px 10px 0 10px;
  width: 35%;
  color: dimgray;
  text-align: center;
  height: 1.8em;
}

@media (max-width: 800px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}
